absl-py==1.4.0
APScheduler==3.10.1
attrs==22.2.0
contourpy==1.0.7
cycler==0.11.0
flatbuffers==23.3.3
fonttools==4.39.3
importlib-resources==5.12.0
kiwisolver==1.4.4
matplotlib==3.7.1
mediapipe==0.9.2.1
numpy==1.21.6
opencv-contrib-python==4.7.0.72
opencv-python-headless==4.2.0.32
packaging==23.0
Pillow==9.4.0
protobuf==3.20.3
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
six==1.16.0
tzdata==2023.3
tzlocal==4.3
zipp==3.15.0
